@use '../../styles/colors';
.heading{
    font-weight: 600;
    color: colors.$white;
    margin: 0 0 0.5rem 0;
}
.signIn{
    font-size: 0.8rem;
    color: colors.$white;
    margin-bottom: 1.5rem;
    .signInLink{
        color: colors.$blue;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}
.container{
    display: flex;
    color: colors.$white;
    column-gap: 3rem;
    .leftContainer{
        width: 55%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .rightContainer{
        display: flex;
        flex-direction: column;
        column-gap: 1rem;
        justify-content: space-between;
        h2{
            margin: 0;
        }
        p{
            line-height: 2rem;
            margin: 0;
            width: 70%;
        }
    }
}