$white: #fff;
$black: #000;
$bgBlack: #151515;
$blue: #5a91dd;
$red: #f00;
$lotteryRed: #bf2828;
$loginFontColor: #808282;
$gold1: #d5bb4c;
$gold2: #b18d35;
$primaryGold: linear-gradient(to right, $gold1, $gold2);
