@use '../../styles/colors';
.homeBanner{
    height: calc(100vh - 60.5px);
    img{
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}
.homeContainer{
    background-color: colors.$black;
    padding: 4rem 6rem;
}