@use '../../styles/colors';
.homeBanner {
    height: calc(100vh - 60.5px);
    img {
        height: 100%;
        width: 100%;
        overflow: hidden;
        object-fit: cover;
    }
}
.homeContainer {
    background-color: colors.$black;
    padding: 4rem 6rem;
    .shortTeaserHeading {
        color: colors.$white;
        font-size: 2rem;
        text-transform: capitalize;
        margin-top: 6rem;
    }
    .shortTeaserContainer {
        display: flex;
        column-gap: 1rem;
    }
    .languageHeading {
        color: colors.$white;
        margin: 8rem 0 1rem 0;
    }
    .otherLanguageContainer {
        display: flex;
        column-gap: 1rem;
        width: 20%;
        align-items: center;
        justify-content: space-between;
    }
}
