@use '../../styles/colors';
.homeBanner{
    height: calc(100vh - 60.5px);
    img{
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}
.homeContainer{
    background-color: colors.$black;
    padding: 4rem 6rem;
    .shortTeaserContainer{
        margin-top: 6rem;
        display: flex;
        column-gap: 1rem;
    }
    .languageHeading{
        color: colors.$white;
        margin: 3rem 0 1rem 0;
    }
    .otherLanguageContainer{
        display: flex;
        column-gap: 1rem;
        width: 20%;
        align-items: center;
        justify-content: space-between;
    }
}